<% provide(:title, @material_stock_table.material_name) %>

<h1><%= @material_stock_table.material_name %>　在庫表</h1>

<div>
  <table class="info-table-radius">
    <tbody>
      <tr>
        <th><h2>資材名</h2></th>
        <td><h2><%= @material_stock_table.material_name %></h2></td>
      </tr>
      <tr>
        <th><h2>価格</h2></th>
        <td><h2><%= @material_stock_table.material_price %></h2></td>
      </tr>
      <tr>
        <th><h2>規格・サイズ</h2></th>
        <td><h2><%= @material_stock_table.material_size %></h2></td>
      </tr>
      <tr>
        <th><h2>数量</h2></th>
        <td><h2><%= @material_stock_table.material_quantity %></h2></td>
      </tr>
      <tr>
        <th><h2>購入日</h2></th>
        <td><h2><%= l(@material_stock_table.material_purchase_date, formats: :short) if @material_stock_table.material_purchase_date.present? %></h2></td>
      </tr>
      <tr>
        <th><h2>購入場所</h2></th>
        <td><h2><%= @material_stock_table.material_purchase_location %></h2></td>
      </tr>
    </tbody>
  </table>
</div>