<% provide(:title, 'PlantBasicData') %>
<h1>植物基本情報一覧</h1>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate @plant_basic_data, previous_label: '&lt 前へ', next_label: '次へ &gt' %>
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th class="center"><%= "植物名" %></th>
        <th class="center"><%= "品種名" %></th>
        <th class="center"><%= "科名" %></th>
        <th class="center"><%= "原産地" %></th>
      </tr>
    </thead>

    <% @plant_basic_data.each do |plant_basic_data| %>
      <tr>
        <td><%= plant_basic_data.plant_name %></td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @plant_basic_data, previous_label: '&lt 前へ', next_label: '次へ &gt' %>
</div>