<% provide(:title, 'PlantBasicData') %>
<h1>植物基本情報一覧</h1>

<div class="col-md-10 col-md-offset-1">
  <!--<%= will_paginate @plant_basic_data, previous_label: '&lt 前へ', next_label: '次へ &gt' %>-->
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th class="center"><%= "植物名" %></th>
        <th class="center"><%= "品種名" %></th>
        <th class="center"><%= "科名" %></th>
        <th class="center"><%= "原産地" %></th>
      </tr>
    </thead>

    <% @plant_basic_data.each do |plant_basic_data| %>
      <tr>
        <td><%= link_to plant_basic_data.plant_name, user_plant_basic_datum_path(id: plant_basic_data.id) %></td>
        <td class="center"><%= plant_basic_data.plant_breed_name %></td>
        <td class="center"><%= plant_basic_data.plant_family_name %></td>
        <td class="center"><%= plant_basic_data.plant_place_of_origin %></td>
        <td class="center">
          <%= link_to "編集", edit_user_plant_basic_datum_path(id: plant_basic_data.id), remote: true, class: "btn btn-success" %>
          <%= link_to "削除", user_plant_basic_datum_path(id: plant_basic_data.id), method: :delete,
              data: { confirm: "#{plant_basic_data.plant_name}を削除してよろしいですか？" }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </table>
  <!--<%= will_paginate @plant_basic_data, previous_label: '&lt 前へ', next_label: '次へ &gt' %>-->
</div>

<div id="edit" class="modal" tabindex="-1" role="dialog" aria-hidden="true"></div>