<% provide(:title, 'PBD') %>
<h1>植物基本情報　一覧</h1>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate @plant_basic_data, previous_label: '&lt 前へ', next_label: '次へ &gt' %>
  
  <div class="right">
    <%= link_to "基本情報新規作成", new_user_plant_basic_datum_path(user_id: params[:user_id]), class: "btn btn-info" %>
  </div>

  <table class="table-users table-hover">
    <tbody>
      <tr>
        <th class="center"><%= "植物名" %></th>
        <th class="center"><%= "品種名" %></th>
        <th class="center"><%= "科名" %></th>
        <th class="center"><%= "原産地" %></th>
        <th class="center"><%=  %></th>
      </tr>

    <% @plant_basic_data.each do |plant_basic_datum| %>
      <tr>
        <td><%= link_to plant_basic_datum.plant_name, user_plant_basic_datum_path(id: plant_basic_datum.id) %></td>
        <td class="center"><%= plant_basic_datum.plant_breed_name %></td>
        <td class="center"><%= plant_basic_datum.plant_family_name %></td>
        <td class="center"><%= plant_basic_datum.plant_place_of_origin %></td>
        <td class="center">
          <%= link_to "編集", edit_user_plant_basic_datum_path(id: plant_basic_datum.id), remote: true, class: "btn btn-success" %>
          <%= link_to "削除", user_plant_basic_datum_path(id: plant_basic_datum.id), method: :delete,
              data: { confirm: "#{plant_basic_datum.plant_name}を削除してよろしいですか？" }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= will_paginate @plant_basic_data, previous_label: '&lt 前へ', next_label: '次へ &gt' %>
</div>

<div id="edit" class="modal" tabindex="-1" role="dialog" aria-hidden="true"></div>