<% provide(:title, @plant_basic_datum.plant_name) %>

<h1><%= @plant_basic_datum.plant_name %>の基本情報</h1>

<div>
  <table class="info-table-radius">
    <tbody>
      <tr>
        <th><h2>植物名</h2></th>
        <td><h2><%= @plant_basic_datum.plant_name %></td>
      </tr>
      <tr>
        <th><h2>品種名</h2></th>
        <td><h2><%= @plant_basic_datum.plant_breed_name %></td>
      </tr>
      <tr>
        <th><h2>別名</h2></th>
        <td><h2><%= @plant_basic_datum.plant_alias %></td>
      </tr>
      <tr>
        <th><h2>科名</h2></th>
        <td><h2><%= @plant_basic_datum.plant_family_name %></td>
      </tr>
      <tr>
        <th><h2>学名</h2></th>
        <td><h2><%= @plant_basic_datum.plant_scientific_name %></td>
      </tr>
      <tr>
        <th><h2>原産地</h2></th>
        <td><h2><%= @plant_basic_datum.plant_place_of_origin %></td>
      </tr>
      <tr>
        <th><h2>特徴・用途</h2></th>
        <td><h2><%= @plant_basic_datum.characteristics_applications %></td>
      </tr>
    </tbody>
  </table>
</div>