<% provide(:title, @plant_basic_datum.plant_name) %>

<h1><%= @plant_basic_datum.plant_name %>の基本情報</h1>

<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th>植物名</th>
        <th>品種名</th>
        <th>科名</th>
        <th>学名</th>
        <th>別名</th>
        <th>原産地</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= @plant_basic_datum.plant_name %></td>
        <td><%= @plant_basic_datum.plant_breed_name %></td>
        <td><%= @plant_basic_datum.plant_family_name %></td>
        <td><%= @plant_basic_datum.plant_scientific_name %></td>
        <td><%= @plant_basic_datum.plant_alias %></td>
        <td><%= @plant_basic_datum.plant_place_of_origin %></td>
      </tr>
    </tbody>
  </table>
</div>