<% provide(:title, "GDs") %>
<!--<h1><%= @user.name %>の園芸日誌　一覧</h1>-->
<h1><%= @text %></h1>

<div class="col-md-10 col-md-offset-1">

  <div class="flexcontainer">
    <table class="table-radius">
      <tbody>
        <tr>
          <% if @current_weather.weather_main == "FALSE" %>
            <th><h1><%= @user.name %>の天気情報はありません</h1></th>
          <% else %>
            <th><h1><%= @city.name %>の天気<h1></th>
          <% end %>
        </tr>
        <tr>
          <td><h2><%= l(@current_weather.updated_at, format: :short) if @current_weather.updated_at.present? %></h2></td>
        </tr>
        <tr>
          <td><%= image_tag "http://openweathermap.org/img/wn/#{@current_weather.weather_icon.chop}d@2x.png" %></td>
        </tr>
        <tr>
          <td><h2><%= @current_weather.weather_description %></h2></td>
        </tr>
        <tr>
          <td><h2><%= @current_weather.temp %>℃</h2></td>
        </tr>
        <tr>
          <td><h2>湿度　<%= @current_weather.humidity %>％</h2></td>
        </tr>
        <tr>
          <td><h2><%= @current_weather.pressure %>hPa</h2></td>
        </tr>
      </tbody>
    </table>

    <table>
      <tr>
        <td class="center"><%= link_to "園芸日誌新規作成", new_user_gardening_diary_path(user_id: params[:user_id]), data: {"turbolinks" => false}, class: "btn btn-info" %></td>
      </tr>
      <tr>
        <td>
          <h2 class="searchtext">作業名検索（あいまい検索）</h2>
            <%= form_tag(user_gardening_diaries_path, :method => 'get' ) do %>
              <%= text_field_tag 'search', '', class: "textlines", placeholder: '作業名を入力してください' %>
              <%= submit_tag '検索', :work_name => nil, class: "btn btn-success" %>
            <% end %>
        </td>
      </tr>
    </table>
  </div>

  <%= will_paginate @gardening_diaries, previous_label: '&lt 前へ', next_label: '次へ &gt' %>
    <div>
      <table class="table-users table-hover" >
        <tbody>
          <tr>
            <th class="center"><%= "作業名" %></th>
            <th class="center"><%= "実施日" %></th>
            <th class="center"><%= "植物名" %></th>
            <th class="center"><%= "資材名" %></th>
            <th class="center"><%= %></th>            
          </tr>

        <% @gardening_diaries.each do |gardening_diary| %>
          <tr>
            <td><%= link_to gardening_diary.work_name, user_gardening_diary_path(id: gardening_diary.id) %></td>
            <td><%= l(gardening_diary.implementation_date, formats: :middle) if gardening_diary.implementation_date.present? %></td>
            <td class="center"><%= gardening_diary.plant_name %></td>
            <td class="center"><%= gardening_diary.material_name %></td>
            <td class="center">
              <%= link_to "編集", edit_user_gardening_diary_path(id: gardening_diary.id), remote: true, class: "btn btn-success", data: {"turbolinks"=>false} %>
              <%= link_to "削除", user_gardening_diary_path(id: gardening_diary.id), method: :delete,
                  data: { confirm: "#{gardening_diary.work_name}を削除してよろしいですか？" }, class: "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <%= will_paginate @gardening_diaries, previous_label: '&lt 前へ', next_label: '次へ &gt' %>

</div>
<!-- javascriptの読み込み -->
<%= javascript_pack_tag 'category_select_box' %>
<div id="edit" class="modal" tabindex="-1" role="dialog" aria-hidden="true" ></div>