<% provide(:title, "New GD") %>

<h1>園芸日誌　新規作成</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @gardening_diary, url: user_gardening_diaries_path(current_user), local: true, method: :post) do |f| %>

      <%= f.hidden_field :user_id, value: current_user.id %>

      <%= f.label :work_name, "作業名", class: "label-login" %>
      <%= f.text_field :work_name, class: 'form-control' %>

      <%= f.label :implementation_date, "実施日", class: "label-login" %>
      <%= f.date_field :implementation_date, class: 'form-control' %>

      <%= f.label :work_content, "作業内容", class: "label-login" %>
      <%= f.text_field :work_content, class: 'form-control' %>

      <%= f.label :plant_name, "植物名", class: "label-login" %>
      <%= f.collection_select(:plant_name, @plant_basic_data, :id, :plant_name, {:include_blank => "植物名を選択してください"}, {class: 'form-control'}) %>
      
      <%#= f.label :plant_individual_name, "植物個体名", class: "label-login" %>
      
      <!-- 中カテゴリが差し込ませるポイントを指定するために追加　※１ -->
      <div id="plant_management_slip_insert_point"></div> 

      <!-- -----------EDIT時、中カテゴリーのダミー表示の切替 ※２---------------------- -->
      <div id="plant_management_slip">
        
          <% if @plant_management_slips.blank? %><!-- A -->
            <%= f.label :plant_individual_name, "植物個体名", class: "label-login" %>
            <%= f.select(:plant_individual_name, [], {:include_blank => "植物個体名を選択してくださいA"}, {class: 'form-control'}) %>
          <% else %>
            <%= f.label :plant_individual_name, "植物個体名", class: "label-login" %><!-- B -->
            <%= f.collection_select(:plant_individual_name, @plant_management_slips, :plant_individual_name, :plant_individual_name, {:include_blank => "植物個体名を選択してくださいB"}, {class: 'form-control'}) %>
          <% end %>
        
      </div>

      <!-- -----------中カテゴリのtamplateを作成 ※3---------------------- -->
      <% @plant_basic_data.each do |plant_basic_datum|  %>
        <template id="plant_management_slip_<%= plant_basic_datum.id %>"><!-- このidをもとに呼び出される-->
        <div id="selected_plant_management_slip">
          
          <%= f.label :plant_individual_name, "植物個体名", class: "label-login" %><!-- C -->
          <%= f.collection_select(:plant_individual_name, plant_basic_datum.plant_management_slips, :plant_individual_name, :plant_individual_name, {:include_blank => "植物個体名を選択してくださいC"}, {class: 'form-control'}) %>
        
        </div>
        </template>
      <% end %>

      <%= f.label :material_name, "資材名", class: "label-login" %>
      <%= f.collection_select(:material_name, @material_stock_table, :material_name, :material_name, {:include_blank => "資材名を選択してください"}, {class: 'form-control'}) %>

      <%= f.label :material_consumption, "資材消費量", class: "label-login" %>
      <%= f.text_field :material_consumption, class: 'form-control' %>

      <%= f.submit "新規作成", class: "btn btn-primary btn-block btn-login" %>
    <% end %>
  </div>
</div>
<!-- javascriptの読み込み -->
<%= javascript_pack_tag 'category_select_box' %>