<% provide(:title, "New GD") %>

<h1>園芸日誌　新規作成</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @gardening_diary, url: user_gardening_diaries_path(current_user), local: true, method: :post) do |f| %>

      <%= f.hidden_field :user_id, value: current_user.id %>

      <%= f.label :work_name, "作業名", class: "label-login" %>
      <%= f.text_field :work_name, class: 'form-control' %>

      <%= f.label :implementation_date, "実施日", class: "label-login" %>
      <%= f.date_field :implementation_date, class: 'form-control' %>

      <%= f.label :work_content, "作業内容", class: "label-login" %>
      <%= f.text_field :work_content, class: 'form-control' %>

      <%= f.label :plant_name, "植物名", class: "label-login" %>
      <%= f.collection_select(:plant_name, @plant_basic_data, :plant_name, :plant_name, {:include_blank => "植物名を選択してください"}, {class: 'form-control'}) %>

      <%= f.label :plant_individual_name, "植物個体名", class: "label-login" %>
      <%= f.select :plant_individual_name, [], {include_blank: "植物個体名を選択してください"}, {class: 'form-control'} %>

      <%# @plant_management_slips.all.each do |plant_management_slip| %>
      <%# %template{id: "sub-category-of-category#{plant_management_slip.id}"} %>
      <%#= f.collection_select :plant_management_slip, categroy.sub_categories, :id, :name, include_blank: "サブカテゴリーを選択してください" %>

      <%= f.label :material_name, "資材名", class: "label-login" %>
      <%= f.collection_select(:material_name, @material_stock_table, :material_name, :material_name, {:include_blank => "資材名を選択してください"}, {class: 'form-control'}) %>

      <%= f.label :material_consumption, "資材消費量", class: "label-login" %>
      <%= f.text_field :material_consumption, class: 'form-control' %>

      <%= f.submit "新規作成", class: "btn btn-primary btn-block btn-login" %>
    <% end %>
  </div>
</div>