<% provide(:title, @gardening_diary.work_name) %>

<h1><%= @gardening_diary.work_name %>の作業内容</h1>

<div>
  <table class="info-table-radius">
    <tbody>
      <tr>
        <th><h2>作業名</h2></th>
        <td><h2><%= @gardening_diary.work_name %></h2></td>
      </tr>
      <tr>
        <th><h2>実施日</h2></th>
        <td><h2><%= l(@gardening_diary.implementation_date, formats: :short) if @gardening_diary.implementation_date.present? %></h2></td>
      </tr>
      <tr>
        <th><h2>作業内容</h2></th>
        <td><h2><%= @gardening_diary.work_content %></h2></td>
      </tr>
      <tr>
        <th><h2>植物名</h2></th>
        <td><h2><%= @gardening_diary.plant_name %></h2></td>
      </tr>
      <tr>
        <th><h2>植物個体名</h2></th>
        <td><h2><%= @gardening_diary.plant_individual_name %></h2></td>
      </tr>
      <tr>
        <th><h2>資材名</h2></th>
        <td><h2><%= @gardening_diary.material_name %></h2></td>
      </tr>
      <tr>
        <th><h2>資材消費量</h2></th>
        <td><h2><%= @gardening_diary.material_consumption %></h2></td>
      </tr>
    </tbody>
  </table>
</div>