<% provide(:title, @user.name) %>
<h1><%= @user.name %>のマイページ</h1>

<div class="col-md-10 col-md-offset-1">
  <div class="flexcontainer">
    <table class="table-user-radius">
      <tbody>
        <tr>
            <th><h1><%= @user.name %>さんの登録情報<h1></th>
        </tr>

        <tr>
          <td><h2>メールアドレス　<%= @user.email %></h2></td>
        </tr>
        <tr>
          <td><h2>居住地域　<%= @city.name %></h2></td>
        </tr>
        <tr>
          <td><h2>登録日　<%= l(@user.created_at, formats: :middle) %></h2></td>
        </tr>
        <tr>
          <td><h2>最終更新日　<%= l(@user.updated_at, formats: :middle) %></h2></td>
        </tr>
      </tbody>
    </table>
    <table class="table-radius">
      <tbody>
        <tr>
          <% if @current_weather.weather_main == "FALSE" %>
            <th><%= @user.name %>の天気情報はありません</th>
          <% else %>
            <th><h1><%= @city.name %>の天気<h1></th>
          <% end %>
        </tr>

        <tr>
          <td><%= l(@current_weather.updated_at, format: :short) if @current_weather.updated_at.present? %></td>
        </tr>
        <tr>
          <td><%= image_tag "http://openweathermap.org/img/wn/#{@current_weather.weather_icon.chop}d@2x.png" %></td>
        </tr>
        <tr>
          <td><h2><%= @current_weather.weather_description %></h2></td>
        </tr>
        <tr>
          <td><h2><%= @current_weather.temp %>℃</h2></td>
        </tr>
        <tr>
          <td><h2>湿度　<%= @current_weather.humidity %>％</h2></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="flexcontainer-lower">
    <table class="table-users table-hover" style="margin-right: 1px">
      <tbody>
        <tr>
          <th class="center"><%= "資材名" %></th>
          <th class="center"><%= "規格・サイズ" %></th>
          <th class="center"><%= "数量" %></th>
          <th class="center"><%= link_to "一覧", user_material_stock_table_index_path(@user), class: "btn tn-lg btn-success" %></th>
        </tr>

      <% @material_stock_tables.each do |material_stock_table| %>
        <tr>
          <td><%= link_to material_stock_table.material_name, user_material_stock_table_path(user_id: params[:id], id: material_stock_table.id) %></td>
          <td class="center"><%= material_stock_table.material_size %></td>
          <td class="center"><%= material_stock_table.material_quantity %></td>
          <td class="center"><%=  %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <table class="table-users table-hover" >
        <tbody>
          <tr>
            <th class="center"><%= "作業名" %></th>
            <th class="center"><%= "実施日" %></th>
            <th class="center"><%= "植物名" %></th>
            <th class="center"><%= link_to "一覧", user_gardening_diaries_path(@user), class: "btn tn-lg btn-success" %></th>
          </tr>

        <% @gardening_diaries.each do |gardening_diary| %>
          <tr>
            <td><%= link_to gardening_diary.work_name, user_gardening_diary_path(user_id: params[:id], id: gardening_diary.id) %></td>
            <td><%= l(gardening_diary.implementation_date, formats: :middle) if gardening_diary.implementation_date.present? %></td>
            <td class="center"><%= gardening_diary.plant_name %></td>
            <td class="center"><%=  %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
  </div>

</div>
