<% provide(:title, "#{@plant_management_slip.plant_individual_name}") %>

<h1><%= @plant_management_slip.plant_name %>の<%= @plant_management_slip.plant_individual_name %>　管理票</h1>

<div>
  <table class="info-table-radius">
    <tbody>
      <tr>
        <th><h2>植物名</h2></th>
        <td><h2><%= @plant_management_slip.plant_name %></h2></td>
      </tr>
      <tr>
        <th><h2>植物個体名</h2></th>
        <td><h2><%= @plant_management_slip.plant_individual_name %></h2></td>
      </tr>
      <tr>
        <th><h2>価格</h2></th>
        <td><h2><%= @plant_management_slip.plant_price %></h2></td>
      </tr>
      <tr>
        <th><h2>サイズ</h2></th>
        <td><h2><%= @plant_management_slip.plant_size %></h2></td>
      </tr>
      <tr>
        <th><h2>数量</h2></th>
        <td><h2><%= @plant_management_slip.plant_quantity %></h2></td>
      </tr>
      <tr>
        <th><h2>購入日</h2></th>
        <td><h2><%= l(@plant_management_slip.plant_purchase_date, formats: :short) if @plant_management_slip.plant_purchase_date.present? %></h2></td>
      </tr>
      <tr>
        <th><h2>購入場所</h2></th>
        <td><h2><%= @plant_management_slip.plant_purchase_location %></h2></td>
      </tr>
      <tr>
        <th><h2>栽培場所</h2></th>
        <td><h2><%= @plant_management_slip.cultivation_place %></h2></td>
      </tr>
    </tbody>
  </table>
</div>
